<div class="container mt-3">
    <section>
        <article>
            <h2>Who I am?</h2>
            <p>
                Hello my name is Light Yagami, obviously it's not my real name, it's just a pseudonym
                I took from my favorite Anime Death Note, I'm from the Dominican Republic and I'm learning 
                frontend development in a self-taught way and to make the pieces fit I build projects. 
                My goal in programming is to become an excellent software engineer, and I work very hard to achieve this. 
                I am currently learning Angular, at first as usual I was intimidated as I had only worked with Html, Css and JavaScript. 
                It is normal to feel afraid when leaving the comfort zone, so you already know.
            </p>
        </article>
        <article>
            <h3>What is this project?</h3>
            <p>
                This project is done in Angular which is part of a course I'm taking on application development with Angular. 
                Obviously, I extended the project further, adding more functionality and some components I needed to achieve that functionality. 
                Angular is a framework maintained by Google, written in TypeScript and everyone should learn, it is a component based framework for building scalable web applications, 
                it is a good option to have in your toolboxes. App News is a web application to search for news of interest today, you can filter the categories and countries, for example, category Entertainment, 
                country Mexico, and the App will search Mexico for news that belongs to Entertainment. 
                The app consumes a free API called News API, which is the one that looks for that information and then shows it to the user. In some styles I used Bootstrap, Bootstrap icons and bootswatch. 
                I hope I have detailed well how the App works, it is the first time I have done it.
            </p>
        </article>
        <article>
            <h3>Anything else…</h3>
            <p>
                I learned a lot doing it, thanks to the YouTics YouTube
                channel and Professor Gabriel Chaldú who has helped me understand some issues that seemed complex to me in Angular, and that now are not so much. 
                I will continue to learn Angular and continue to focus on becoming a Software Engineer as I will be entering University soon.

                And last but not least, never give up, if you have problems with your code and can't find a way to solve it, seek help. 
                It's not bad from time to time to ask for a hand. That doesn't make you a bad developer. Do not forget!!
            </p>
        </article>
    </section>
    <br>
    <section>
        <article>
            <h3>¿Quien soy?</h3>
            <p>
                Hola mi nombre es Light Yagami, obviamente no es mi nombre real, 
                es solo un pseudónimo que tome de mi Anime favorito Death Note, soy de República Dominicana 
                y estoy aprendiendo desarrollo frontend de forma autodidacta y para hacer que las piezas encajen construyo proyectos. 
                Mi objeto en la programación es convertirme en un excelente ingeniero de software, y trabajo muy duro para conseguirlo. 
                Actualmente, me encuentro aprendiendo Angular, al principio como de costumbre me sentía intimidado, ya que solo había trabajado con Html, Css y JavaScript. 
                Es normal sentir miedo al salir de la zona de confort, así que ya lo sabes. 
            </p>
        </article>
        <article>
            <h3>¿Que es este proyecto?</h3>
            <p>
                Este proyecto está hecho en Angular que es parte de un curso que estoy tomando sobre desarrollo de aplicaciones con Angular. 
                Obviamente, extendí más el proyecto, agregando más funcionalidad y algunos componentes que necesitaba para lograr esa funcionalidad. 
                Angular es un framework mantenido por Google, escrito en TypeScript y que todos deberían aprender, es un marco basado en componentes para crear aplicaciones web escalables, 
                es una buena opción para tener en tus cajas de herramientas. 
                App News es una aplicación web para buscar noticias de interés en la actualidad, puedes filtrar las categorías y los países, por ejemplo, categoría Entretenimiento, país México, 
                y la App buscará en México las noticias que pertenezcan a Entretenimiento. La app consume una API gratuita llamada News API, que es la que busca esa información para luego mostrarla al usuario. 
                En algunos estilos usé Bootstrap, Bootstrap icons y bootswatch. Espero haber detallado bien en el funcionamiento de la App, es primeva vez que lo hago.
            </p>
        </article>
        <article>
            <h3>Algo más…</h3>
            <p>
                Aprendí mucho haciéndolo, gracias al canal de YouTube YouTics y al profesor Gabriel Chaldú
                que me ha ayudado a comprender algunos temas que me parecían complejos de Angular, y que ahora ya no lo son tanto. 
                Continuaré aprendiendo Angular y continuaré enfocado en convertirme en un Ingeniero de software, ya que pronto ingresaré a la Universidad.

                Y por último y no menos importante, no te rindas jamás, si tienes problemas con tu código y no encuentras la forma de resolverlo busca ayuda. 
                No está mal de vez en cuando pedir una mano, eso no te hace un mal desarrollador. No lo olvides!!
            </p>
        </article>
    </section>
    <br>
</div>

