<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand title">{{titulo}}</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Culture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">International</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Economy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="about">About</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="social navbar-nav me-auto">
            <li class="icons"><a href="https://www.instagram.com/syst3mlogg/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a></li>
            <li class="icons"><a href="https://twitter.com/lighty4gami1" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a></li>
            <li class="icons"><a href="http://tiktok.com/@systemf4iled" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a></li>
            <li class="icons"><a href="https://t.me/desarrollofront3nd" target="_blank" rel="noopener noreferrer"><i class="bi bi-telegram"></i></a></li>
            <li class="icons"><a href="https://github.com/light-y4gami" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
