<footer [ngClass]="{'hide': !showFooter}">
    <ul>
        <li><a class="hovered" href="https://www.instagram.com/syst3mlogg/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a></li>
        <li><a class="hovered" href="https://twitter.com/lighty4gami1" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a></li>
        <li><a class="hovered" href="http://tiktok.com/@systemf4iled" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a></li>
        <li><a class="hovered" href="https://t.me/desarrollofront3nd" target="_blank" rel="noopener noreferrer"><i class="bi bi-telegram"></i></a></li>
        <li><a class="hovered" href="https://github.com/light-y4gami" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a></li>
    </ul>
</footer>
