ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

li a {
  text-decoration: none;
  color: rgb(173, 181, 189);
  font-size: 30px;
}

li a:hover {
  color: #375a7f;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  transition: all 0.2s ease-out;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 520px) {
 ul {
  gap: 10px;
 }
 
  li a {
  font-size: 17px;
 }
}

